/** Course styling CSS **/

body {
    --remove-thumbnails: block;
}

/** remove the course thumbnails if you want them gone **/
app-student-courses mat-card .course-card-image {
    margin: unset !important;
    width: unset !important;
    background-position: 50% 100% !important;
    background-size: 100% 100% !important;
    display: var(--remove-thumbnails);
}

app-student-courses mat-card .card-click {
    padding: unset !important;
}

app-student-courses mat-card .nav-card {
    display: flex;
    align-items: center;
    flex-direction: row !important;
}

app-student-courses mat-card mat-card-title-group {
    padding: 10px 20px !important;
}

app-student-courses mat-card .card-click .detail-ct {
    margin: unset !important;
    padding: 5px 20px !important;
}

app-student-courses mat-card mat-divider,
app-student-courses mat-card .detail-ct .progress-ct,
app-student-courses mat-card .detail-ct .score-ct div:first-child,
app-student-courses mat-card .color-band {
    display: none !important;
}

@media (max-width: 900px) {
    app-student-courses .grid-ct .course-card {
        position: static !important;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        width: 100%;
    }

    app-student-courses mat-card .nav-card {
        gap: 1rem;
    }

    app-student-courses .grid-ct {
        width: 100% !important;
        height: unset !important;
        display: flex !important;
        flex-flow: row;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        transition: none !important;
    }
}

/** Order courses styling CSS **/
app-order-courses.ng-star-inserted {
    background: transparent !important;
}

.cdk-drag.cdk-drag-preview .course-icon,
app-order-courses.ng-star-inserted mat-card .course-icon { display: none !important; }

app-order-courses.ng-star-inserted mat-card {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

app-order-courses.ng-star-inserted mat-card {
    position: absolute !important;
}

app-order-courses .order-drag-row .grip-icon,
.cdk-drag-preview .grip-icon {
  color: var(--text-color) !important;
}

app-order-courses .order-drag-row {
	background: transparent !important;
}

.cdk-drag.cdk-drag-preview {
    border-radius: 0px !important;
    box-shadow: var(--ckconf-shadow) !important;
    background: var(--cktheme-color1) !important;
}

/** Course page styling CSS **/
app-course-home mat-card .course-progress,
app-course-home mat-card mat-divider,
app-course-home mat-card .top-buttons a,
app-course-home mat-card button[mattooltip="Hide scores"],
app-course-home mat-card lib-profile-picture,
app-course-home mat-card .course-thumbnail,
:root app-course-home mat-card mat-tab-header .mat-mdc-tab-header-pagination,
app-course-home mat-tab-group mat-tab-body lib-activity-thumbnail,
app-course-home mat-tab-group mat-tab-body lib-activity-tree mat-tree mat-tree-node mat-icon:last-child,
app-course-home mat-tab-group mat-tab-body lib-activity-tree mat-tree mat-tree-node .play-icon,
app-course-home mat-tab-group mat-nav-list .mat-mdc-list-item-icon,
app-course-home mat-tab-group mat-tab-body .app-no-data-image,
app-course-home mat-card .color-band {
    display: none !important;
}

app-course-home mat-card .title-teachers mat-list-item {
    padding: 0px !important;
}

app-course-home mat-card {
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem;
}

app-course-home mat-card .top-header {
    margin: unset !important;
    padding-bottom: 0px !important;
}

app-course-home mat-card .top-buttons .first-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-course-home mat-card .top-buttons .first-row button {
    margin: unset !important;
}

app-course-home mat-card .top-buttons .first-row mat-icon {
    vertical-align: revert !important;
    line-height: unset !important;
    height: unset;
}


/** course agenda & description **/
app-course-home mat-card lib-managed-html .fr-view *:is(span, div, p, li, ul, table) {
    color: var(--text-color) !important;
    background: transparent !important;
}

app-course-home mat-card lib-managed-html .fr-view :is(table, td, tr, tbody) {
    border-color: var(--border-color);
}

/** course description **/
app-course-home mat-card div[aria-label="Course home content"] lib-managed-html {
    padding-bottom: 0px !important;
}

/** course agenda **/
app-course-home mat-card lib-managed-html .fr-view,
app-course-home mat-card lib-managed-html .fr-view table {
    width: 100% !important;
}

app-course-home mat-card lib-managed-html .fr-view *:is(table, tbody, tr, td) {
    border-color: var(--border-color) !important;
    background: transparent !important;
}

app-course-home mat-card .no-agenda {
    margin: 15px 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal !important;
}

/** unset navbar **/
:root app-course-home mat-card mat-tab-header {
    background: transparent !important;
    margin: 15px 0 10px !important;
}

:root app-course-home mat-card mat-tab-header .mat-mdc-tab-labels {
    display: flex;
    flex-direction: row !important;
    flex: unset !important;
    justify-content: unset !important;
}

:root app-course-home mat-card mat-tab-header .mat-mdc-tab-labels .mdc-tab {
    width: 50%;
}

/** extend agendas to 100% **/
app-course-home mat-card .agendas {
    display: flex !important;
    gap: .5rem !important;
    margin: 20px 0 30px !important;
}

app-course-home mat-card .agendas mat-form-field {
    width: 100% !important;
    margin-bottom: -20px !important;
}

app-course-home mat-card .agendas .agenda-buttons {
    width: 10rem !important;
    margin-left: 20px !important;
}

/** tree list **/
app-course-home mat-tab-group mat-tab-body mat-nav-list a {
    padding: 0 16px !important;
}

app-course-home mat-tab-group app-filter-box {
    padding: 10px 0 !important;
}

app-course-home mat-tab-group mat-tab-body lib-activity-tree :is(form, mat-form-field),
app-course-home mat-tab-group :is(form, mat-form-field) {
    margin: unset !important;
    width: 100% !important;
}

app-course-home mat-tab-group mat-tab-body lib-activity-tree form {
    margin-top: 30px !important;
}

app-course-home mat-tab-group mat-tab-body lib-activity-tree mat-tree {
    background: transparent !important;
}

app-course-home mat-tab-group mat-tab-body lib-activity-tree mat-tree mat-tree-node:hover {
    background: var(--primary-500) !important;
}

app-course-home mat-tab-group mat-tab-body lib-activity-tree mat-tree mat-tree-node:not(:has(button[mat-ripple-loader-disabled=""])):hover {
    background: transparent !important;;
}

app-course-home mat-tab-group mat-tab-body lib-activity-tree mat-tree mat-tree-node a {
    padding: 0 !important;;
}

app-course-home mat-tab-group mat-tab-body lib-activity-tree mat-tree mat-tree-node button[mat-ripple-loader-disabled=""] {
    display: none;
}

app-course-home mat-tab-group mat-tab-body lib-activity-tree mat-tree mat-tree-node:has(button[mat-ripple-loader-disabled=""]) a {
    padding-left: 7px !important;
}

app-course-home mat-tab-group mat-tab-body lib-activity-tree mat-tree mat-tree-node:not(:has(button[mat-ripple-loader-disabled=""])) a {
    pointer-events: none !important;
}

app-course-home mat-tab-group mat-tab-body lib-activity-tree .search-results {
    min-height: 50px !important;
}

app-course-home mat-tab-group mat-tab-body lib-activity-tree .no-matches,
app-course-home mat-tab-group mat-tab-body .message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal !important;
}