/** TODO styling CSS **/
app-student-to-do mat-card app-filter-box {
    padding: 0px 0px 10px !important;
}

app-student-to-do mat-card mat-nav-list a {
    padding-left: 16px !important;
}

app-student-to-do mat-card mat-nav-list a .mat-mdc-list-item-icon { display: none !important; }

@media (max-width: 710px) {
    app-student-to-do mat-card {
        margin: unset !important;
        width: 100% !important;
        border-radius: 0px !important;
    }
}