/**

    This affects all sub domains of "echo-ntn.org", it's prepended to <head> for maximum editabliltiy

    Formatting rules:
      -  Always use `"` with strings.
      -  Always put `;` at the end of variables.
      -  Never uppercase words in classes or strings.
      -  Comment on variables, and classes.

    
    This stylings comments get removed at inject, it means this will be heavily documented for
    your use, if you need some use out of the styling here.

    Copyright Wo-r 2024
    
**/

/* font-face */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* variable themes */
@import url("echo/theme.css");

* {
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
  overscroll-behavior: none !important;
  font-style: normal;
  font-variant: normal;
}

html, body {
  overflow: hidden !important;
  overflow-y: overlay !important;
  background: var(--background) !important;
  color: var(--text-color) !important;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/** setup the backgrounds **/
:is(
  .app-background,
  app-login .app-primary-default-background, 
  app-student-courses, 
  app-student-to-do, 
  app-student-stream, 
  app-activity .mat-drawer-container, 
  app-activity-item .mat-drawer-container,
  app-order-courses .main,
  app-student-grades .main,
  app-badges
){
  background: var(--background) !important;

  /* if the user wants a custom background, then overwrite it */
  background-image: var(--custom-background) !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
}


/* text changes */
@import url("echo/text.css");

/* overlays */
@import url("echo/overlay.css");

/* tabs, extra menus, cards, navbars, modals, buttons, inputs, checkmarks, ect */
@import url("echo/interactables.css");

/* large list of styling for direct pages of the site */
@import url("echo/login.css");
@import url("echo/home/course.css");
@import url("echo/home/todo.css");
@import url("echo/home/stream.css");