/** Interactables styling CSS **/

/** Change all navbars to follow a matching set theme **/

/* home navbar */
:root app-after-login mat-toolbar.main-toolbar {
    background: var(--foreground) !important;
    color: var(--text-color) !important;
    box-shadow: unset;
}

:root app-after-login mat-tab-header,
:root app-after-login mat-toolbar {
    user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
}

:root mat-tab-group {
    border-bottom: none !important;
}

:root mat-toolbar button[mattooltip="Help"] {
    display: none !important;
}

:root .app-title-ct {
    display: none;
}

:root app-after-login mat-toolbar.main-toolbar .user-menu-button {
    margin: unset;
    margin-left: .5rem;
}

:root app-after-login mat-toolbar.main-toolbar .user-menu-button .user-name {
    display: flex;
    flex-direction: row;
    margin: unset;
    gap: .5rem;
}

:root app-after-login mat-toolbar.main-toolbar .user-menu-button .user-name div:last-child,
:root app-after-login mat-toolbar.main-toolbar .user-menu-button mat-icon,
:root app-after-login mat-toolbar.main-toolbar lib-profile-picture,
:root app-after-login mat-toolbar.main-toolbar router-outlet:empty {
    display: none;
}

/* subset home navbar */
:root app-after-login:not(:has(app-course-home)) :has(.main-toolbar) mat-tab-header {
    background: var(--foreground) !important;
    color: var(--theme-default-color) !important;
}

/* activity navbar */
:root .activity-header .toolbar,
:root .activity-header .toolbar div {
    background: var(--foreground) !important;
    color: var(--text-color) !important;
    box-shadow: unset;
}

/* activity subset navbar */
:root .activity-header .links-ct {
    background: var(--foreground) !important;
    color: var(--foreground) !important;
}

/* settings, themes subset navbar */
:root app-settings mat-toolbar,
:root app-choose-theme mat-toolbar {
    background: var(--foreground) !important;
    color: var(--text-color) !important;
}

/* order courses subset navbar */
:root app-order-courses mat-toolbar {
    background: var(--foreground) !important;
    color: var(--text-color) !important;
}

/** side navbar **/
mat-sidenav {
    box-shadow: var(--box-shadow-right) !important;
    background: var(--foreground) !important;
}

mat-sidenav mat-divider {
    border-width: 1px !important;
}

mat-sidenav .side-menu-logo-ct { display: none !important; }

mat-sidenav,
mat-sidenav .mat-drawer-inner-container {
    --theme-default-text-hover-color: var(--text-color);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

mat-sidenav .mat-mdc-list-item .menu-item-selected {
    color: var(--text-color) !important;
    background: transparent !important;
}

mat-sidenav .mat-mdc-list-item:not(.menu-item-selected):hover,
.app-theme-high-contrast .mat-mdc-nav-list .mat-mdc-list-item:hover {
    background: rgba(var(--theme-default-color-rgba), .20) !important;
}

.app-theme-high-contrast .mat-mdc-nav-list .mat-mdc-list-item:not(:hover):focus,
mat-sidenav.ng-star-inserted .mat-mdc-nav-list .mat-mdc-list-item:not(:hover):focus,
mat-sidenav.ng-star-inserted .mat-mdc-nav-list .mat-mdc-list-item:focus::before {
    background-color: transparent !important;
}

.mat-mdc-list-item-interactive:hover {
    background: rgba(var(--theme-default-color-rgba), .20) !important;
}

.mat-mdc-list-item-interactive::before {
    background: transparent !important;
}

/* sidenav background */
mat-sidenav-container .mat-drawer-backdrop {
    opacity: .70;
    background: var(--foreground-opacity-e0) !important;
}

mat-sidenav .course-color { display: none !important; }

mat-sidenav .mdc-list {
    padding: 0px !important;
}

mat-sidenav .mat-list-base {
    padding: 0px !important;
}


/** Tab labels **/
.mdc-tab__content .mdc-tab__text-label {
    color: var(--text-color) !important;
    user-select: none !important;
}

.mat-ripple-element {
    background: var(--theme-default-color) !important;
    color: var(---text-color) !important;
    opacity: 0.2;
}

.mat-ripple .mat-ripple-element {
    background: var(--theme-default-color) !important;
    color: var(---text-color) !important;
    opacity: 0.2;
}

.submit-disabled { display: none !important; }

button.mdc-fab--mini .mat-mdc-button-persistent-ripple {
    background: var(--theme-default-color) !important;
}

/** Inputs **/
.mdc-text-field--outlined .mdc-text-field--focused .mdc-notched-outline__leading, 
.mdc-text-field--outlined .mdc-text-field--focused .mdc-notched-outline__notch, 
.mdc-text-field--outlined .mdc-text-field--focused .mdc-notched-outline__trailing,
.mdc-text-field--outlined .mdc-notched-outline__leading,
.mdc-text-field--outlined .mdc-notched-outline__notch,
.mdc-text-field--outlined .mdc-notched-outline__trailing {
    border-top-width: .5px !important;
    border-bottom-width: .5px !important;
}
.mdc-text-field--outlined .mdc-text-field--focused .mdc-notched-outline__leading, 
.mdc-text-field--outlined .mdc-text-field--focused .mdc-notched-outline__trailing,
.mdc-text-field--outlined .mdc-notched-outline__leading,
.mdc-text-field--outlined .mdc-notched-outline__trailing {
    border-left-width: .5px !important;
    border-right-width: .5px !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, 
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, 
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: var(--border-color) !important;
}

.mdc-text-field input {
    caret-color: var(--text-color) !important;
}

/** Badges **/
.ng-star-inserted .mat-badge-content,
.ng-star-inserted .app-large-button-badge {
    background: var(--theme-default-color) !important;
    color: var(--theme-default-text-color) !important;
    border-radius: 100px !important;
}

.app-large-button-badge {
    line-height: 15px !important;
}

.mdc-checkbox__ripple {
    display: none !important;
}

/** Checkboxes **/
.mdc-checkbox__background {
    background: var(--theme-default-color) !important;
    border: 2px solid var(--theme-default-color) !important;
}

.mdc-switch__ripple .mat-ripple:active,
.mdc-switch__ripple .mat-ripple:hover,
.mdc-switch__ripple .mat-ripple:focus {
    background: var(--theme-default-color) !important;
}

.mdc-switch__handle .mdc-switch__icon path {
    stroke: var(--theme-default-text-color) !important;
    fill: var(--theme-default-text-color) !important;
}

.mdc-switch--unselected .mdc-switch__ripple::after {
    background: transparent !important;
    border: none !important;
}

.mdc-switch__track::after {
    background: var(--theme-default-color) !important;
}

.mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
    background: var(--theme-default-color) !important;
}

.mdc-tab__ripple::before {
    background: var(--theme-default-color) !important;
}

.mdc-tab-indicator .mdc-tab-indicator__content {
    border-color: var(--theme-default-color) !important;
}

.mdc-checkbox__checkmark-path {
	stroke: var(--theme-default-text-color) !important;
}

mat-icon {
    color: var(--text-color) !important;
}

.mdc-button:not(:has(mat-icon), :has(.theme-color)) {
    box-shadow: var(--box-shadow) !important;
    border: 0px !important;
    color: var(--theme-default-text-color) !important;
    background: var(--theme-default-color) !important;
    user-select: none !important;
}

.mdc-icon-button:hover {
    background: rgba(var(--theme-default-color-rgba), .20) !important;
}

button.mdc-fab--mini mat-icon {
    color: var(--theme-default-text-color) !important;
}

/* change mat cards (base mat cards) to follow the most transparent versions of foreground */
mat-card {
    background: var(--foreground-opacity-e0) !important;
    box-shadow: var(--box-shadow);
}

.cdk-overlay-container .mat-mdc-dialog-container .mat-mdc-dialog-surface {
    background: var(--foreground) !important;
    box-shadow: var(--box-shadow);
}

/** Disabled **/
.mdc-button[disabled="true"] {
    opacity: .50;
}

/** Progress bar **/
.mat-mdc-progress-bar {
    height: 4px !important;
}

.mat-mdc-progress-bar.mat-primary .mdc-linear-progress__bar {
    background: var(--theme-default-color) !important;
}

.mat-mdc-progress-bar.mat-primary .mdc-linear-progress__buffer-bar {
    background: transparent !important;
}

.mat-mdc-progress-bar .mdc-linear-progress__bar-inner {
    border: 1px solid var(--theme-default-color) !important;
}

.mat-mdc-form-field-hint { display: none !important; }

.cdk-overlay-backdrop {
    background: rgba(66, 66, 66, 0.32) !important;
}

/** Overlays **/
.cdk-overlay-pane {
    user-select: none !important;
}

.cdk-overlay-pane .mdc-tooltip .mdc-tooltip__surface {
    box-shadow: var(--box-shadow) !important;
    color: var(--opposite-text-color) !important;
    background: var(--opposite-color) !important;
    user-select: none !important;
}

.cdk-overlay-pane .mat-mdc-menu-panel .mdc-list a { display: none !important; }

.cdk-overlay-container .mat-divider {
    color: var(--opposite-text-color) !important;
    border-top-width: .1px !important; 
}

.mdc-snackbar__surface {
    background: var(--foreground-opacity-e0) !important;
}

.mdc-snackbar__surface .mdc-snackbar__label {
    color: var(--opposite-text-color) !important;
}

.cdk-overlay-pane .mat-mdc-menu-panel,
.cdk-overlay-pane .mat-mdc-select-panel {
    padding: 0px !important;
    margin: 0px !important;
    background: var(--opposite-color) !important;
    color: var(--opposite-text-color) !important;
}

.cdk-overlay-pane .mat-mdc-menu-panel .mat-mdc-menu-content {
    padding: 0px !important;
}

.cdk-overlay-pane:has(.open-animation),
.cdk-overlay-pane:has(.open-animation-border) { display: none !important; background: transparent !important; }

.cdk-overlay-pane .mat-mdc-menu-panel .mdc-list .mat-mdc-menu-item:hover {
    background: rgba(var(--theme-default-color-rgba), .20) !important;
}

.cdk-overlay-pane .mat-mdc-menu-item {
    color: var(--opposite-text-color) !important;
}

.cdk-overlay-pane .mat-mdc-menu-item:hover {
    background: rgba(var(--theme-default-color-rgba), .20) !important;
}

.cdk-overlay-pane .mat-mdc-menu-content a { display: none; }

.cdk-overlay-pane .mat-mdc-select-panel .mat-mdc-option:hover {
    background: rgba(var(--theme-default-color-rgba), .20) !important;
}

.cdk-overlay-pane .mat-mdc-menu-panel .mdc-list .mat-mdc-menu-item span,
.cdk-overlay-pane .mat-mdc-select-panel .mat-mdc-option:not(.mat-mdc-option-active) span {
    color: var(--opposite-text-color) !important;
}

/** selected **/
.cdk-overlay-pane .mat-mdc-select-panel .mat-mdc-option.mat-mdc-option-active:not(:hover) {
    color: var(--opposite-text-color) !important;
}

.cdk-overlay-pane .mat-mdc-select-panel .mat-mdc-option.mat-mdc-option-active span {
    color: var(--opposite-text-color) !important;
}
