/** Interactables styling CSS **/

/** Change all navbars to follow a matching set theme **/

/* home navbar */
:root app-after-login mat-toolbar.main-toolbar {
    background: var(--foreground) !important;
    color: var(--text-color) !important;
    box-shadow: unset;
}

:root app-after-login mat-tab-header,
:root app-after-login mat-toolbar {
    user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
}

:root mat-toolbar button[mattooltip="Help"] {
    display: none !important;
}

:root app-after-login mat-toolbar.main-toolbar .user-menu-button {
    margin: unset;
    margin-left: .5rem;
}

:root app-after-login mat-toolbar.main-toolbar .user-menu-button .user-name {
    display: flex;
    flex-direction: row;
    margin: unset;
    gap: .5rem;
}

:root app-after-login mat-toolbar.main-toolbar .user-menu-button .user-name div:last-child,
:root app-after-login mat-toolbar.main-toolbar .user-menu-button mat-icon,
:root app-after-login mat-toolbar.main-toolbar lib-profile-picture,
:root app-after-login mat-toolbar.main-toolbar router-outlet:empty {
    display: none;
}

/* subset home navbar */
:root app-after-login :has(.main-toolbar) mat-tab-header {
    background: var(--foreground) !important;
    color: var(--foreground) !important;
}

/* activity navbar */
:root .activity-header .toolbar,
:root .activity-header .toolbar div {
    background: var(--foreground) !important;
    color: var(--text-color) !important;
    box-shadow: unset;
}

/* activity subset navbar */
:root .activity-header .links-ct {
    background: var(--foreground) !important;
    color: var(--foreground) !important;
}

/* settings, themes subset navbar */
:root app-settings mat-toolbar,
:root app-choose-theme mat-toolbar {
    background: var(--foreground) !important;
    color: var(--text-color) !important;
}


/** Change all cards to match and follow the set theme **/

/* change mat cards (base mat cards) to follow the most transparent versions of foreground */
mat-card {
    background: var(--foreground-opacity-e0) !important;
}