/** Login styling CSS **/

app-before-login :is(.logo-ct, .buzz-login-logo, .buzz-login-content, .toolbar-fill) {
    display: none !important;
}

app-before-login app-login {
    padding: 0px;
    margin: 0px;
}

app-before-login app-login mat-toolbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    width: fit-content !important;
    height: unset !important;
    gap: 1rem;
    display: flex;
    flex-direction: column !important;
}

app-before-login app-login mat-toolbar:before {
    padding: 50px 0px 10px 0px;
    content: "Echo by Agilix, Inc";
    font-size: 40px;
}

.mat-toolbar.main-toolbar.mat-elevation-z4.app-primary-dark-background.app-primary-dark-contrast-color.buzz-main-header.mat-primary.mat-toolbar-single-row {
    box-shadow: var(--box-shadow);
    background: var(--foreground-opacity-e0) !important;
}

app-before-login app-login mat-toolbar form {
    padding: 30px 30px 50px 30px !important;
    display: flex;
    gap: 1rem;
    justify-content: right;
}

@media screen and (max-width: 710px) {
    app-before-login app-login mat-toolbar form {
        display: grid !important;
        grid-template-columns: 1fr;
    }

    app-before-login app-login mat-toolbar form button.mdc-icon-button {
        grid-area: 2 / 1;
        justify-self: right;
        margin-right: 5.5rem;
    }

    app-before-login app-login mat-toolbar form button.mdc-button {
        width: 20% !important;
        grid-area: 2 / 1;
        justify-self: right;
    }
}

app-before-login app-login .login-fields {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    margin: unset !important;
    height: unset !important;
    width: 100% !important;
}

app-before-login app-login .mat-mdc-form-field-label mat-label {
    color: white !important;
}

app-before-login app-login mat-icon {
    line-height: 20px !important;
    padding: 1px 0px 0px 0px;
}

app-before-login app-login .mat-mdc-form-field-wrapper {
    padding: 0 !important;
}

app-before-login app-login .mdc-text-field {
    padding: 0 .1px;
}

app-before-login app-login mat-form-field {
    margin: unset !important;
}

app-before-login app-login input {
    background: transparent !important;
    appearance: none !important;
}

app-before-login app-login input {
    padding: 10px;
}

app-before-login app-login .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix {
    padding: 10px 0 10px 10px !important;
    display: flex;
}
app-before-login app-login input {
    box-sizing: border-box !important;
    vertical-align: unset !important;
    caret-color: var(--text-color) !important;
    border-bottom: 2.5px solid var(--primary-500) !important;
}

app-before-login app-login mat-form-field .mat-mdc-text-field-wrapper {
    background: transparent !important;
}

app-before-login app-login mat-form-field .mat-mdc-text-field-wrapper:hover .mat-mdc-form-field-focus-overlay {
    background: transparent !important;
    border: 0px !important;
}

app-before-login app-login mat-form-field .mdc-floating-label,
app-before-login app-login mat-form-field .mdc-line-ripple,
app-before-login app-login mat-form-field .mat-mdc-form-field-focus-overlay,
app-before-login app-login mat-form-field .mat-mdc-form-field-subscript-wrapper { display: none !important; }